<ion-view>
    <ion-content>
      <div class="list list-inset">
        <ion-header-bar class="item bar-positive">
          <h1 class="title">{{room_name}}</h1>
          <div class="buttons">
            <button class="button button-icon ion-close" ng-click="close()">
            </button>
          </div>
        </ion-header-bar>

        <ion-list class="item">


         </ion-list>

      </div>
    </ion-content>
    <ion-footer-bar>
      <!-- <ion-list class="item"> -->
        <ion-item class="item item-input-inset">
          <label class="item-input-wrapper">
              <input type="text" ng-model="m.textMessage" placeholder="Type in your message...">
          </label>
          <button ng-click="sendMessage(m.textMessage)" class="button button-icon ion-android-send">
          </button>
        </ion-item>
      <!-- <ion-list> -->
    </ion-footer-bar>

</ion-view>
