<ion-view>
    <ion-content>
      <div class="list list-inset">
        <ion-header-bar class="item bar-positive">
          <h1 class="title">{{room_name}}</h1>
          <div class="buttons">
            <button class="button button-icon ion-close" ng-click="close()">
            </button>
          </div>
        </ion-header-bar>

        <!-- <ion-list class="item"> -->
          <ion-item ng-repeat="chat in chats" type="item-text-wrap">
            <div class="row">
              <div class="col col-20">
                <pre-img ratio="_1_1" helper-class="avatar-image">
                  <img ng-src="{{ chat.picture }}" spinner-on-load style="width:100%">
                </pre-img>
              </div>
              <div class="col col-80">
                <h4>{{chat.email}} :</h4>
                <p>{{chat.text}}</p>
                <img data-ng-src="{{chat.image}}">
              </div>
            </div>
          </ion-item>
        <!-- </ion-list> -->

    </div>
    </ion-content>

    <ion-footer-bar class="row">
        <div class="col col-60">
              <input type="text" ng-model="m.textMessage" placeholder="Type in your message..." style="width:100%">
        </div>
        <div class="col col-20">
          <button ng-click="sendMessage(m.textMessage)" class="button button-icon ion-android-send"></button>
        </div>
        <div class="col col-20">
          <button ng-click="loadImage()" class="button button-icon ion-ios-camera"></button>
        </div>
    </ion-footer-bar>

</ion-view>
