<ion-view cache-view="false">
    <ion-content>
          <div class="list list-inset">

            <ion-header-bar class="item bar-positive" align-title="center">
                <button menuToggle="left" class="button button-icon ion-navicon-round"></button>

                <h1 class="title">Rooms</h1>

                <button class="button button-icon ion-plus-round" ng-click="showPopUp()"> </button>

            </ion-header-bar>

          
            <ion-refresher class="item"
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list ng-show="rooms" class="item">
              <ion-item class="item-icon-left" ng-repeat="room in rooms" type="item-text-wrap" ng-click="openChatRoom(room)">
                <i class="icon ion-chatbubble-working"></i>
                <h2>{{room.name}}</h2>
                <h2>{{room.people}}/{{room.number}}</h2>
              </ion-item>
            </ion-list>
            <label ng-show="rooms.length == 0">
                  No room has been created
            </label>
          </div>
    </ion-content>
</ion-view>
