<ion-view cache-view="false">
  <ion-content>
    <div class="list list-inset">
      <ion-header-bar class="item bar-positive">
        <h1 class="title">My Profile</h1>
        <button class="button button-icon ion-android-arrow-back" ng-click="showPopUp()"> </button>
      </ion-header-bar>
      <ion-list ng-show="rooms" class="item">
        <ion-item >
          <!-- Mostrar imagen -->
        </ion-item>

        <ion-item >
          <!-- Mostrar email -->
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
